extends layout.pug

block content

    div(class='container')
        a(href='/' class='btn btn-primary mb10') Back to main menu
        div(class='panel panel-default')
            div(class='panel-heading')
                h1(class='panel-title') #{phone.title}
            div(class='panel-body')
                div(class='col-md-4')
                    img(src=phone.image)
                div(class='col-md-8')
                    h3 Info:
                    ul(class='list-group')
                        li(class='list-group-item') #{phone.description}
