extends layout.pug

block content

    div(class='container')
        each phone in phones
            div(class='col-md-4')
                div(class='media item-phone')
                    div(class='media-left')
                        a(href='/phone/'+ phone.id)
                            img(class='media-object item-image' src=phone.image alt='')
                    div(class='media-body')
                        a(href='/phone/'+ phone.id)
                            h4(class='media-heading') #{phone.title}
                        p #{phone.description}
