nav(class='navbar navbar-default')
    div(class='container')
        div(class='navbar-header')
            a(class='navbar-brand') Phones Market
        div(class='collapse navbar-collapse', id='bs-example-navbar-collapse-1')
            ul(class='nav navbar-nav navbar-right')
                li
                    a(href="/login") Login