extends layout.pug

block content

    div(class='container')
        h1 Search Books (#{queryTitle})
        hr
        form(method="GET", action="/search", class="form-inline")
            div(class="form-group")
                input(class="form-control", placeholder="Search..." name="q")
            button(type="submit", class="btn btn-default") Search
        if Object.keys(books).length === 0
            p(class="text-danger") Your search #{queryTitle} did not match any books.
        else
            each book in books
                include book/item
