.item-image {
    width: 125px;
}

.item-book{
    margin-bottom: 16px;
    border: 1px solid #e2e2e2;
    padding: 10px;
    height: 276px;
}

.mb10{
    margin-bottom: 10px;
}

.navbar-inverse {
    border-radius: 0px;
}

@media (min-width: 1200px) {
    .login-form {
        width: 500px;
    }
}

.image-detail {
    width: 300px;
}

.navbar-theme {
    background-color: #fff;
    border-radius: 0px;
    margin-bottom: 0;
}

.head {
    font-size: 40pt;
    background-color: #f8f5ff;
    text-align: center;
}